body{
    font-family: inherit;
}
/* .banner-image{
    background-image: url(https://img.freepik.com/free-photo/colorful-shopping-bags_23-2147652050.jpg?t=st=1738580348~exp=1738583948~hmac=58b015aa6ff1c40dce51bc962efbf765fdb4c010fcf0c9d7eba1a4f23bb5b38b&w=1060);
    background-size: 100% 100%;
    height: 450px;
    width: 100%;
} */